<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/selectize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <title>Conversor de medidas culinárias</title>
</head>
<body>
    <div class="page-container">
        <header>
            <img id="home-image" src="{% static 'images/home.svg' %}">
            <a class="menu-text" href="{% url 'data' %}">Dados</a>
        </header>
        <main>
            <div id="index-title-container">
                <h2 class="page-title">Conversor de gramas para medidas culinárias</h2>
                <h2 class="page-subtitle">Substitua a medida de um ingrediente (em gramas) pela melhor combinação dos
                    utensílios de cozinha desejados</h2>
            </div>
            <form id="form" action="{% url 'result' %}" method="get">
                <div id="utensils-form-section">
                    <div class="form-section">
                        <fieldset id="fieldset" form="form">
                            <legend class="form-title"> Utensílios </legend>
                            <div id="error-utensils"></div>
                            <label for="xicara" class="checkbox-container">Xícara
                                <input class="checkbox" type="checkbox" id="xicara" name="utensils" checked value="0">
                                <span class="checkmark"></span>
                            </label>
                            <label for="copo-americano" class="checkbox-container">Copo americano
                                <input class="checkbox" type="checkbox" id="copo-americano" name="utensils" checked value="1">
                                <span class="checkmark"></span>
                            </label>
                            <label for="colher-sopa" class="checkbox-container">Colher de sopa
                                <input class="checkbox" type="checkbox" id="colher-sopa" name="utensils" checked value="2">
                                <span class="checkmark"></span>
                            </label>
                            <label for="colher-cha" class="checkbox-container">Colher de chá
                                <input class="checkbox" type="checkbox" id="colher-cha" name="utensils" checked value="3">
                                <span class="checkmark"></span>
                            </label>
                        </fieldset>
                    </div>
                </div>
                <div id="other-form-sections">
                    <div class="form-section">
                        <label class="form-title" for="ingredient-select">Ingrediente</label>
                        <div id="error-ingredient"></div>
                        <select name="ingredient" id="ingredient-select" required>
                            <option value="" selected disabled hidden>Ex.: farinha</option>
                            {% for ingredient in ingredients %}
                            <option value="{{ ingredient.id }}">{{ ingredient.ingredient_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-section">
                        <label class="form-title" for="grams-input">Quantidade em gramas</label>
                        <div id="error-grams"></div>
                        <input type="number" name="grams" id="grams-input" required placeholder="Ex.: 500">
                    </div>
                    <div id="button-section">
                        <button class="button">Converter</button>
                    </div>
                </div>
            </form>
            <p id="description-text">
                Este aplicativo ajuda você a substituir a medida de um ingrediente (em gramas) pela melhor combinação
                dos utensílios de cozinha desejados: selecione um ou mais utensílios, escolha um ingrediente
                da lista e digite a quantidade em gramas. Para conferir os valores de referência, clique
                <a href="{% url 'data' %}">aqui</a>. Boa receita!
            </p>
        </main>
        <footer>
            <a id="github-link" href="https://github.com/petrusmassabki/smart-cooking-converter">
                <img id="github-logo" src="{% static 'images/github_logo.png' %}" alt="Logo Github"></a>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>